In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("D:\\batchs\\2023\\cvs .file\\car_data.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
X = df.drop("Selling_Price",axis = 1)
X.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
y = df.Selling_Price

In [6]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [7]:
X.drop(['Car_Name','Present_Price'],axis = 1,inplace= True)

In [8]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          301 non-null    int64
 1   Kms_Driven    301 non-null    int64
 2   Fuel_Type     301 non-null    object
 3   Seller_Type   301 non-null    object
 4   Transmission  301 non-null    object
 5   Owner         301 non-null    int64
dtypes: int64(3), object(3)
memory usage: 14.2+ KB

In [10]:
X.isnull().sum()

Year            0
Kms_Driven      0
Fuel_Type       0
Seller_Type     0
Transmission    0
Owner           0
dtype: int64

In [11]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [12]:
l = []
for i in X.Year:
    year1 = 2023 - i
    l.append(year1)

In [13]:
l

[9,
 10,
 6,
 12,
 9,
 5,
 8,
 8,
 7,
 8,
 6,
 8,
 8,
 8,
 14,
 7,
 8,
 7,
 8,
 13,
 7,
 6,
 12,
 9,
 10,
 12,
 10,
 6,
 13,
 8,
 11,
 12,
 9,
 9,
 9,
 12,
 8,
 20,
 7,
 20,
 7,
 9,
 15,
 9,
 11,
 9,
 10,
 17,
 8,
 6,
 11,
 8,
 6,
 10,
 18,
 14,
 8,
 13,
 9,
 9,
 10,
 8,
 9,
 8,
 6,
 9,
 6,
 13,
 12,
 7,
 9,
 12,
 10,
 12,
 9,
 8,
 10,
 19,
 13,
 11,
 7,
 8,
 6,
 8,
 18,
 17,
 13,
 11,
 10,
 9,
 14,
 9,
 18,
 8,
 15,
 11,
 7,
 6,
 10,
 13,
 7,
 6,
 6,
 6,
 6,
 8,
 9,
 10,
 7,
 6,
 7,
 7,
 9,
 7,
 8,
 8,
 10,
 8,
 8,
 10,
 7,
 12,
 7,
 10,
 11,
 14,
 6,
 7,
 6,
 6,
 6,
 8,
 6,
 7,
 6,
 8,
 9,
 10,
 7,
 8,
 10,
 7,
 8,
 7,
 9,
 11,
 9,
 8,
 13,
 7,
 12,
 7,
 11,
 10,
 9,
 6,
 6,
 8,
 6,
 6,
 12,
 9,
 11,
 13,
 7,
 7,
 7,
 9,
 10,
 8,
 11,
 8,
 9,
 6,
 8,
 12,
 12,
 7,
 9,
 13,
 11,
 7,
 10,
 10,
 15,
 15,
 13,
 10,
 10,
 18,
 15,
 11,
 16,
 10,
 15,
 8,
 15,
 13,
 12,
 16,
 17,
 13,
 8,
 12,
 8,
 7,
 6,
 8,
 6,
 8,
 11,
 8,
 7,
 12,
 6,
 11,
 7,
 7,
 9,
 11,
 6,
 10,
 9,
 8,
 10,
 12,
 8,
 12,
 11,
 11,
 10,
 6,
 8,
 10,
 8,
 6,
 7,
 8,
 10,
 11,
 11,
 8,
 9,
 7,
 10,
 11,
 11,
 8,
 10,
 7,
 7,
 10,
 8,
 9,
 10,
 11,
 7,
 8,
 8,
 9,
 7,
 7,
 8,
 7,
 8,
 6,
 9,
 7,
 6,
 8,
 12,
 14,
 8,
 13,
 9,
 7,
 8,
 8,
 7,
 9,
 8,
 17,
 9,
 7,
 10,
 7,
 7,
 8,
 8,
 7,
 9,
 8,
 7,
 13,
 9,
 8,
 7,
 8,
 14,
 6,
 7]

In [14]:
X["Present_year"] = 2023

In [15]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_year
0  2014       27000    Petrol      Dealer       Manual      0          2023
1  2013       43000    Diesel      Dealer       Manual      0          2023
2  2017        6900    Petrol      Dealer       Manual      0          2023
3  2011        5200    Petrol      Dealer       Manual      0          2023
4  2014       42450    Diesel      Dealer       Manual      0          2023

In [16]:
X['Year'] = X['Present_year'] - X['Year']

In [17]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_year
0     9       27000    Petrol      Dealer       Manual      0          2023
1    10       43000    Diesel      Dealer       Manual      0          2023
2     6        6900    Petrol      Dealer       Manual      0          2023
3    12        5200    Petrol      Dealer       Manual      0          2023
4     9       42450    Diesel      Dealer       Manual      0          2023

In [18]:
X.drop("Present_year",axis = 1,inplace = True )

In [19]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9       27000    Petrol      Dealer       Manual      0
1    10       43000    Diesel      Dealer       Manual      0
2     6        6900    Petrol      Dealer       Manual      0
3    12        5200    Petrol      Dealer       Manual      0
4     9       42450    Diesel      Dealer       Manual      0

In [20]:
X["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [21]:
X["Seller_Type"].unique()

array(['Dealer', 'Individual'], dtype=object)

In [22]:
X["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [23]:
X=pd.get_dummies(data=X,columns = ['Fuel_Type',"Seller_Type","Transmission"],drop_first=True)

In [24]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1
3,12,5200,0,0,1,0,1
4,9,42450,0,1,0,0,1

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
scaler = MinMaxScaler()

In [27]:
X["Year"] = scaler.fit_transform(X[["Year"]])

In [28]:
X["Kms_Driven"] = scaler.fit_transform(X[["Kms_Driven"]])

In [29]:
X["Owner"] = scaler.fit_transform(X[["Owner"]])

In [30]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.053053,0.0,0,1,0,1
1,0.333333,0.085085,0.0,1,0,0,1
2,0.066667,0.012813,0.0,0,1,0,1
3,0.466667,0.009409,0.0,0,1,0,1
4,0.266667,0.083984,0.0,1,0,0,1

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [33]:
X_train.shape

(201, 7)

In [34]:
X_test.shape

(100, 7)

In [35]:
y_train.shape

(201,)

In [36]:
y_test.shape

(100,)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
model = LinearRegression()

In [39]:
model.fit(X_train,y_train)

LinearRegression()

In [40]:
model.score(X_test,y_test)

0.6277335827814441

In [41]:
model.coef_

array([-4.40956874,  1.87336591, -1.02410561,  6.37414492,  1.27532566,
       -3.86538731, -4.23738036])

In [42]:
model.intercept_

8.648782484360325

In [43]:
X_test[:5]

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
177,0.133333,0.047047,0.000000,0,1,1,0
289,0.133333,0.020981,0.000000,0,1,0,1
228,0.400000,0.119119,0.000000,1,0,0,1
198,0.466667,0.069069,0.333333,0,1,1,1
60,0.333333,0.079081,0.000000,0,1,0,1

In [44]:
predict = model.predict(X_test)
predict

array([ 5.55891467,  5.13809034,  9.24487324, -0.44843517,  4.36501934,
       10.06065474,  1.03506402,  0.67358409,  1.28402948,  9.77655851,
       10.79143905,  0.4733749 ,  8.80260514,  5.76774997,  9.48258726,
        4.45702242,  0.09876828,  5.42351049,  1.55774813,  1.53074466,
        0.39461477, 10.26861618,  9.14106739,  3.70206344,  0.73734229,
        4.05229192,  4.42765239,  3.78832453,  1.56674929,  1.29903141,
        0.4096167 ,  9.84406719, -0.43104174,  2.96266802, 10.35700004,
        4.64023442,  4.48503102,  3.2716412 ,  4.42831998,  3.52060666,
        2.14451247,  6.3135281 ,  4.58022671,  0.80110049, 10.02713293,
        0.46962442,  4.6594594 ,  7.87050149,  4.32751076,  9.21536445,
        8.58813662,  1.54087096, 14.31541109, 14.78333815, 10.13196641,
        9.44962899,  4.81978596, 10.3232007 ,  2.34643188,  9.39076892,
        0.46212345, -1.36410326,  1.53862067, -0.93272315,  4.93795615,
        1.26415193, 13.99893694, 14.28915771,  4.87343286,  0.04295266,
        9.21276536,  8.05195827,  5.20405757,  4.95496084,  4.00994523,
        1.36278961,  1.54424639,  9.08870038,  1.06881836,  4.8846243 ,
        4.85718952,  3.74558404,  7.70155066,  9.66951696,  3.82755458,
        5.47077834,  0.36986159,  3.48851003,  1.41904685, 13.59101759,
        1.00130968,  3.12425902,  4.42502705, 10.35700004,  5.39888857,
        4.99237426,  3.36890621,  3.95709624,  4.89549319, -2.11379226])